body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    background-color: rgb(31, 31, 31);
    color: rgb(180, 180, 180)
}

h1 {
    color: rgb(46, 235, 147);
    font-size: 40px;
}

img {
    width: 400px;
    border: 5px solid rgb(46, 235, 147);
    border-radius: 20px;
}

p {
    background-color: white;
    color: black;
    padding: 50px 20px;
    border-radius: 30px;
}

.red-text{
    color: red;
}

.bold-text{
    font-weight: bolder;
}

.description{
    font-size: 26px;
    text-align:center;
}

.title{
    font-size: 60px;
    text-decoration: underline;
    color: red;
    text-align: center;
}

.blog .title{
    color: aqua;
}